<!-- 行きたい、行ったボタン -->
<div class="visit-button pt-3">
  <% if @shop.visited_by?(current_user) %>
    <%= link_to shop_visits_path(@shop), method: :delete do %>
      <p class="btn-square-raised btn-sm">
        <i class="fas fa-shoe-prints"></i> 外す
      </p>
    <% end %>
    <div class="balloon ">
      <span class="number"><%= @shop.visits.count %></span>
    </div>
  <% else %>
    <%= link_to shop_visits_path(@shop), method: :post do %>
      <p class="btn-square-raised btn-sm">
        <i class="fas fa-shoe-prints"></i> 行った!
      </p>
    <% end %>
    <div class="balloon">
      <span class="number"><%= @shop.visits.count %></span>
    </div>
  <% end %>
</div>
<div class="wish-button">
  <% if @shop.wished_by?(current_user) %>
    <%= link_to shop_wishes_path(@shop), method: :delete do %>
      <p class="btn-square-raised-wish btn-sm">
        <i class="far fa-heart"></i> 外す
      </p>
    <% end %>
    <div class="balloon">
      <span class="number"><%= @shop.wishes.count %></span>
    </div>
  <% else %>
    <%= link_to shop_wishes_path(@shop), method: :post do %>
      <p class="btn-square-raised-wish btn-sm">
        <i class="fas fa-heart"></i> 行きたい
      </p>
    <% end %>
    <div class="balloon">
      <span class="number"><%= @shop.wishes.count %></span>
    </div>
  <% end %>
</div>