<div class="form-group row">
  <div class="col-xs-4 mx-auto pl-5">
    <%= f.attachment_field :shop_image %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputKanaName">ふりかな</label>
    <%= f.text_field :kana_name, autofocus: true, class:"form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputName">店名</label>
    <%= f.text_field :name, autocomplete: "name", class:"form-control", id:"inputName" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputPostalCode">〒郵便番号</label>
    <%= f.text_field :postal_code, autocomplete: "郵便番号", class:"form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputAddress">住所</label>
    <%= f.text_field :address, class:"form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputDescription">店舗説明</label>
    <%= f.text_area :description, class:"form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputUrl">URL</label>
    <%= f.text_field :url, class:"form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputHoliday">定休日</label>
    <%= f.text_field :holiday, class:"form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputBussinessHours">営業時間</label>
    <%= f.time_field :bussiness_start_time, class:"form-control",id: 'business_start_time' %>
    <%= f.time_field :bussiness_end_time, class:"form-control", id: 'business_end_time' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4 mx-auto">
    <label for="inputTelephoneNumber">電話番号</label>
    <%= f.text_field :telephone_number, class:"form-control" %>
  </div>
</div>