<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>新規登録店</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= form_with model: @shop, url: shops_path, id: 'new_shop', class: 'new_shop', local: true do |f| %>
      <%#= f.attachment_field :shop_image %>
    </div>
  </div>
  <div class="form-group row">
      <div class="col-xs-4">
        <label for="inputKanaName">ふりかな</label>
        <%= f.text_field :kana_name, autofocus: true, class:"form-control" %>
      </div>
  </div>
  <div class="form-group row">
      <div class="col-xs-4">
        <label for="inputName">店名</label>
        <%= f.text_field :name, autocomplete: "name", class:"form-control", id:"inputName" %>
      </div>
  </div>
      <div class="col-xs-4">
        <label for="inputPostalCode">〒</label>
        <%= f.text_field :postal_code, autocomplete: "郵便番号", class:"form-control" %>
      </div>
      <div class="col-xs-4">
        <label for="inputAddress">住所</label>
        <%= f.text_field :address, class:"form-control" %>
      </div>
      <div class="col-xs-4">
        <label for="inputCaption">店舗説明</label>
        <%= f.text_area :caption, class:"form-control" %>
      </div>
      <div class="col-xs-4">
        <label for="inputUrl">URL</label>
        <%= f.text_field :url, class:"form-control" %>
      </div>
      <div class="col-xs-4">
        <label for="inputHoliday">定休日</label>
        <%= f.text_field :holiday, class:"form-control" %>
      </div>
      <div class="col-xs-4">
        <label for="inputBussinessHours">営業時間</label>
        <%#= f.time_field :bussiness_start_time, class:"form-control" %>
        <%#= f.time_field :bussiness_end_time, class:"form-control" %>
      </div>
      <div class="col-xs-4">
        <label for="inputTelephoneNumber">定休日</label>
        <%= f.text_field :telephone_number, class:"form-control" %>
      </div>
      <%= f.submit "登録", class: "btn btn-dark btn-sm mr-4 mt-3" %>
      <% end %>
    </div>
  </div>
</div>


