<div class="container shadow-lg mt-3 pb-5">
  <div class="row">
    <div class="col-sm-3 col-md-6 mx-auto py-5">
      <h2 class="title text-center pb-3">ランキング</h2>
    </div>
  </div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">ランキング</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">週間ランキング</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        <div class="row">
          <% @ranks.each.with_index(1) do |shop, i| %>
          <div class="col-sm-12 col-md-12">
            <h3 class="rank text-center my-4">
              <i class="fas fa-crown"></i>
                第 <%= i %> 位
              <i class="fas fa-crown"></i>
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 offset-sm-3">
            <%= attachment_image_tag shop, :shop_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.png", size:'200x200', class:"image" %>
          </div>
          <div class="col-sm-5">
            <p class="mt-4"><%= shop.kana_name %></p>
            <h4 class="font-weight-bold"><%= shop.name %></h4>
            <p><%= shop.address %></p>
            <%= link_to "more", shop_path(shop), class: "btn-border-bottom" %>
          </div>
        <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <div class="row">
          <% @week_ranks.each.with_index(1) do |shop, i| %>
          <div class="col-sm-12 col-md-12">
            <h3 class="rank text-center my-4">
              <i class="fas fa-crown"></i>
                第 <%= i %> 位
              <i class="fas fa-crown"></i>
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 offset-sm-3">
            <%= attachment_image_tag shop, :shop_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.png", size:'200x200', class:"image" %>
          </div>
          <div class="col-sm-5">
            <p class="mt-4"><%= shop.kana_name %></p>
            <h4 class="font-weight-bold"><%= shop.name %></h4>
            <p><%= shop.address %></p>
            <%= link_to "more", shop_path(shop), class: "btn-border-bottom" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
</div>
