<div class="container text-center">
<%= render 'public/shops/main', shop: @shop %>
  <div class="row">
    <div class="col-sm-5 mx-auto my-3">
      <h5 class="font-weight-bold">住所</h5>
        <p><%= @shop.address %></p>
        <div id='map'></div>
        <script>
          let map;

            function initMap() {
              geocoder = new google.maps.Geocoder()

              map = new google.maps.Map(document.getElementById('map'), {
                // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
                center: {
                  lat: <%=@shop.latitude%>,
                  lng: <%=@shop.longitude%>
                },
                zoom: 12,
              });

              marker = new google.maps.Marker({
                // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
                position: {
                  lat: <%=@shop.latitude%>,
                  lng: <%=@shop.longitude%>
                },
                map: map
              });
            }
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap">
        </script>
      <h5 class="font-weight-bold mt-2">店舗概要</h5>
        <p><%= @shop.description %></p>
      <h5 class="font-weight-bold">URL</h5>
        <p><%= @shop.url %></p>
      <h5 class="font-weight-bold">定休日</h5>
          <p><%= @shop.holiday %></p>
      <h5 class="font-weight-bold">営業時間</h5>
        <!-- &.で空の時nilを渡す -->
        <%= @shop.bussiness_start_time&.strftime( "%H:%M" ) %>～<%= @shop.bussiness_end_time&.strftime( "%H:%M" ) %>
      <h5 class="font-weight-bold mt-3">電話番号</h5>
        <p><%= @shop.telephone_number %></p>
      <h5 class="font-weight-bold"><i class="fas fa-share"></i>share</h5>
        <!-- 店名付きでSNS投稿 -->
        <p><%= social_share_button_tag(@shop.name) %></p>
      <div id="visits_buttons">
        <%= render 'public/shops/visits_buttons', shop: @shop %>
      </div>
      <div id="wishes_buttons">
        <%= render 'public/shops/wishes_buttons', shop: @shop %>
      </div>
    </div>
  </div>
  <% if @reviews.present? %>
  <div class="row">
    <div class="col-sm-12 mx-auto my-5">
      <!--総合星評価-->
      <div id="average-rating">
        <%= render 'public/shops/review_total_rate', reviews: @reviews %>
      </div>
        <script>
          $('.average-rating').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @reviews.average(:rate) %>,
          });
        </script>

      <!--/総合星評価-->
      <div id='review-count'>
        <p class="mt-3">レビュー<%= @reviews.count %>件 | <%= link_to "レビューを書く", new_shop_review_path(@shop), class:"link" %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <%= render 'public/shops/review_index', shop: @shop%>
    </div>
  </div>
  <script>
    $('.star-rate').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
    });
  </script>
  <% else %>
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h2>レビューはありません</h2>
      <p class="mt-3">レビュー<%= @reviews.count %>件 | <%= link_to "レビューを書く", new_shop_review_path(@shop), class:"link" %></p>
    </div>
  </div>
  <% end %>
</div>

