<div class="container">
  <% @reviews.each do |review| %>
  <div class="row reviews py-3">
    <div class="col-sm-3">
      <p class="posts-prof">投稿者 <%= review.user.name %> <%= review.user.sex %></p>
      <p><%= l review.created_at, format: :short %></p>
    </div>
    <div class="col-sm-2">
      <%= attachment_image_tag review, :product_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.png", size:"100x100" %>
    </div>
    <div class="col-sm-4">
      <p class="font-weight-bold mt-2"><%= review.product_name %></p>
      <p><%= review.comment %></p>
      <!--ジャンル-->
      <div class="star_review">
        <p class="mb-1">評価：<%= review.rate %>点</p>
        <!--星評価-->
        <div id="star-rate-<%= review.id %>"></div>
        <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>
          });
        </script>
        <!--/星評価-->
      </div>
    </div>
    <div class="col-sm-3 edit-button">
      <%= link_to '削除', admin_shop_review_path(review.shop, review), method: :delete, class:'btn btn-dark mt-5' %>
    </div>
  </div>
  <% end %>
</div>
