<div class="container text-center mt-3">
  <% if @reviews.empty? %>
    <h2 class="py-5">レビューがありません</h2>
  <% else %>
  <div class="row">
    <div class="col-sm-12">
      <p class="mt-5">レビューコメントの感情分析スコア</p>
      <%= pie_chart @aggregate, colors: ["#d9333f", "#ee7948", "#5a79ba"] %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 mx-auto py-5">
    <p class="notice"><%= flash[:alert] %></p>
      <h2 class="title pb-3">レビュー一覧(<%= @reviews.count %>件)</h2>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col" style="width: 10%">投稿者</th>
          <th scope="col" style="width: 6%">性別</th>
          <th scope="col" style="width: 10%">日時</th>
          <th scope="col" style="width: 6%">商品</th>
          <th scope="col" style="width: 10%">商品名</th>
          <th scope="col" style="width: 30%">レビュー</th>
          <th scope="col" style="width: 15%">感情分析スコア</th>
          <th scope="col" style="width: 6%">評価</th>
          <th scope="col" style="width: 7%"></th>
        </tr>
      </thead>
      <% @reviews.each do |review| %>
      <tbody>
        <tr>
          <td><%= review.user.name %></td>
          <td><%= review.user.sex %></td>
          <td><%= l review.created_at, format: :short %></td>
          <td><%= attachment_image_tag review, :product_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.png", size:"100x100" %></td>
          <td><%= review.product_name %></td>
          <td><%= review.comment %></td>
          <td><%= review.score %>点</td>
          <td><%= review.rate %>点</td>
          <td><%= link_to '削除', admin_shop_review_path(review.shop, review), method: :delete, class:'btn-flat-bottom-border-delete btn-sm mt-5' %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <% end %>
</div>
