<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 mx-auto py-5">
      <h2 class="title">和菓子店一覧</h2>
    </div>
  </div>
  <div class="row">
  <div class="d-flex flex-row flex-wrap">
    <% @shops.each do |shop| %>
    <div class="col-sm-6 col-md-4">
      <div class="card-deck mb-5 mr-2">
      <div class="card">
        <div class ="shop-image">
          <p class="img card-img-top"><%= attachment_image_tag shop, :shop_image, format: "jpeg", fallback: "no_image.png", class:"card-image" %></p>
        </div>
        <div class="card-body">
          <h4 class="card-title font-weight-bold"><%= shop.name %></h4>
          <h5 class="font-weight-bold">住所</h5>
            <p><%= shop.address %></p>
          <h5 class="font-weight-bold">店舗概要</h5>
            <p><%= shop.description %></p>
          <h5 class="font-weight-bold">URL</h5>
            <p><%= shop.url %></p>
          <h5 class="font-weight-bold">定休日</h5>
            <p><%= shop.holiday %></p>
          <h5 class="font-weight-bold">営業時間</h5>
            <p><%= shop.bussiness_start_time&.strftime( "%H:%M" ) %>～<%= shop.bussiness_end_time&.strftime( "%H:%M" ) %></p>
          <h5 class="font-weight-bold">電話番号</h5>
            <p><%= shop.telephone_number %></p>
          <p>行った <%= shop.visits.count %></p>
          <p>行きたい <%= shop.wishes.count %></p>
          <%= link_to "レビューを見る", admin_shop_reviews_path(shop, shop.reviews), class: "btn btn-dark btn-sm" %>
          <%= link_to '削除', admin_shop_path(shop), method: :delete, class:'btn btn-dark btn-sm' %>
        </div>
      </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>