<div class="row">
  <div class="col-sm-4">
    <%= f.attachment_field :product_image, class:"mb-4" %>
     <div id="rating-form">
      <%= f.label :rate,'評価', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :rate %>
      <script>
        $('#rating-form').raty({
        starOn: '<%= asset_path('star-on.png') %>',
        starOff: '<%= asset_path('star-off.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[rate]', /* reviewカラムに保存 */
        half: true,
        });
      </script>
      <p class="my-3">※評価を入力してください</p>
    </div>
  </div>
  <div class="col-sm-7 mx-auto">
    <%= f.text_field :product_name, placeholder: "商品名", class: "form-control mb-2" %>
    <%= f.text_area :comment, class: "form-control", rows: "5", placeholder: "コメント" %>
  </div>
</div>
