<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-3">
      <h1>レビュー投稿編集</h1>
    </div>
  </div>
  <%= render 'public/shops/main', shop: @shop %>
  <%= form_with(model:[@shop, @review], :url => {:action => :update}, local: true) do |f| %>
  <%= render 'public/shops/review_form', f: f %>
  <div class="form-group row">
    <div class="col-sm-12">
    <div id="edit-rating-form">
      <%= f.label :rate,'評価', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :rate %>
      <script>
        $('#edit-rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[rate]', /* reviewカラムに保存 */
        half: true,
        });
      </script>
    </div>
    </div>
  </div>
  <div class="form-group row justify-content-end">
    <div class="col-sm-12">
      <%= f.submit '変更を保存', class:"btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>