<div class="container shadow-lg text-center mt-3">
  <div class="row">
    <div class="col-sm-3 col-md-5 mx-auto my-5">
      <h2 class="title pb-3">レビューを書く</h2>
    </div>
  </div>

  <% if @review.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= @review.errors.count %>件の必須項目を入力してください</h3>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model:[@shop, @review], :url => {:action => :create}, local: true) do |f| %>
  <%= render 'public/reviews/review_form', f: f %>

  <div class="row">
    <div class="col-sm-12">
      <%= f.submit '投稿する', class:"button my-5" %>
    </div>
  </div>

  <% end %>
</div>