<div class="container">
  <%= form_with model: @user, local: true do |f| %>
  <div class="row">
    <div class="col-sm-5 text-center">
      <h2 class="font-weight-bold mb-3">マイページ編集</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.png", size:'150x150'%><br />
      <label for="inputImage">プロフィール画像</label>
      <p><%= f.attachment_field :profile_image %></p>
    </div>
    <div class="col-sm-4 pt-5">
      <p class="mb-3">
        <label for="inputName">名前</label><br />
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"name" %>
      </p>
      <p class="mb-3">
        <label for="inputEmail">メールアドレス</label><br />
        <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"email" %>
      </p>
      <p class="mb-3">
        <label for="inputBirthdate">生年月日</label><br />
        <%= f.date_field :birthdate, class:"form-control", id:"inputBirthdate" %>
      </p>
      <p class="mb-3" >
        <label for="inputAge">年齢</label><br />
        <%= f.number_field :age, class:"form-control", id:"inputAge" %>
      </p>
      <%= f.submit "変更を保存", class: "btn btn-dark btn-sm mr-4 mt-3" %>
    </div>
  </div>
  <% end %>
</div>