<div class="header">
  <div class="menu">
    <div class="title">Logo</div>
      <ul class="nav">
        <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
        <% end %>
        <li><%= link_to "ランキング", ranking_path %></li>
        <li><%= link_to "お店一覧", shops_path %></li>
        <li><%= link_to "PRする", new_shop_path %></li>
      </ul>
    </div>
</div>